.window{
  padding-bottom: 10px;
}

.chatBox{
  display: flex;
  outline: solid black 2px;
  height:50vh;
  padding:10px;
  background-color: white;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.userBox{
  display:flex;
  outline: solid black 2px;
  height:50vh;
  padding:10px;
  background-color: white;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.container {
  margin:50px;
  padding:20px;
  outline: solid black 2px;
  width:auto;
  background-color:rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  padding-bottom: 50px;
}

.textField {
  display:flex;
  justify-content: space-between;
  align-items: center;
}